@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Record Sheet</h1>
    <p class="lead">This is an app that will help you keep your students scores in any subject offered by the student</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Student Record</h2>
        <p>
            With this app, you will start by adding new student record. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>View List of Recoreds</h2>
        <p>This app also provide an interface where you can view list of existing records</p>
    </div>
    <div class="col-md-4">
        <h2>Modify Student Record</h2>
        <p>You can also Modify or update an existing record.</p>
    </div>
</div>

@*<div class="container" style="width:80em; height:500px; background:url(../Content/img/student.jpg); ">
    <h2>Welcome</h2>
</div>*@